html {
  font-size: 62.5%;
}

h1  {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: 'Railway', sans-serif;
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: 300;
    line-height: 1.083;
}

h3 {
    margin: 0;
    padding: 0;
    line-height: 1.375;
    font-size: 2.5rem;
    font-weight: 300;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: 'Railway', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.25;
}

p {
    font-family: 'Railway', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
}

hr {
    width: 170px;
    color: $text-light;
}

li {
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.5;
}

@font-face {
  font-family: 'Socialico';
  src:  url('../fonts/Socialico.otf') format('otf'),
}

%small-text {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 2;
}

.carousel__text-box {
    &__title {
        &--light {
            @extend %h1-light;
        }
        &--dark {
            @extend %h1-dark;
        }
    }
    &__para {
        &--dark {
            color: $text-dark;
        }
    }
}

.about {
    &__text-box {
        &__title--light {
        color: $light-white;
    }
        &__para--light {
            color: $text-light;
        }
    }
    &__content-box{
        &__para--light{
            color: $text-light;
        }
    }
}

.skills {
    &__text-box {
        &__title--light {
            color: $light-white;
        }
        &__para--light {
            color: $text-light;
        }
    }
    &__content-box {
        &__title {
            color: $light-white;
        }
        &__para {
            color: $text-light;
        }
    }
}

.quote {
    &__title {
        color: $text-dark;
        line-height: 0.917;
        font-weight: 700;
        text-transform: none;

        &--quotes {
            
            &::before {
                content: '“';
            }
            &::after {
                content: '”';
            }
            &::before, &::after {
                font-size: 8.75rem;
                font-weight: 700;
                color: $light-white;
            }
        }
    }
    &__author {
        color: $light-white;
    }
}

// TEAM SECTION
.fas {
    color: white;
    font-size: 4rem;
    align-self: center;
}

.fa-angle-right {
    justify-self: end;
}

.fa-angle-left {
    justify-self: start;
}

.team {
    &__text-box {
        &__title--light {
            color: $light-white;
        }
        &__para--light {
            color: $text-light;
        }
    }
}
// CONTACT SECTION
.contact__text-box {
    &__title--phone {
        font-weight: 700;
        color: $light-white;
    }
    &__title--email {
        color: $text-dark;
    }
    &__title--address {
        color: #343434;
        font-size: 1.875rem;/* Approximation due to font substitution */
        font-weight: 300
    }
}
