//===== COLORS =====
//background colors
$light-white: #ffffff;
$dark-white: #fafafa;

$light-orange: #fbd061;
$dark-orange: #f3ca5e;

$dark-grey: #313131;
$light-grey: #3c3c3c;

$dark-black: #1f1f1f;
$light-black: #2b2b2b;

$light-red: #ff7070;
$dark-red: #f76c6c;

$light-green: #a9d264;
$dark-green: #a4cb61;

//text-specific colors
$text-dark: #343434;
$text-light: #989898;

//===== GRADIENT MIXIN =====
@mixin gradient ($light-color, $dark-color) {
    background: linear-gradient( to right, $light-color 50%, $dark-color 50% );
}

//===== GRID MIXINS ===== 
@mixin grid-col ($num) {
display: grid;
    @if $num == 2 {
        grid-template-columns: repeat(2, 50%);
    } @else if $num == 3 {
        grid-template-columns: repeat(3, 33.3%);
    } @else if $num == 4 {
        grid-template-columns: repeat(4, 25%);
    }
}

// ===== FONT _______ =====
%h1-light {
    color: $light-white;
    font-weight: 300;
    line-height: 0.813;
}
%h1-dark {
    color: $text-dark;
    font-weight: 700;
    line-height: 0.688;
}

// ===== BUTTONS =====
%button {
    width: 200px;
    height: 55px;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 2.5;
    background: none;
    border: 2px solid $light-white;
}

// ===== UNIVERSAL TEXT-BOX =====
%universal-text-box {
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
}

%text-box-text {
    &__text-box {
        &__title--light {
        color: $light-white;
    }
        &__para--light {
            color: $text-light;
            width: 80%;
            margin: 0 auto 60px auto;
        }
    }
}



// $width:auto;
// @mixin clearfix($width) {

//    @if $width == 'auto' {

//     // if width is not passed, or empty do this

//    } @else {
//         display: inline-block;
//         width: $width;
//    }
// }