//===== COLORS =====
//background colors
$light-white: #ffffff;
$dark-white: #fafafa;

$light-orange: #fbd061;
$dark-orange: #f3ca5e;

$dark-grey: #313131;
$light-grey: #3c3c3c;

$dark-black: #1f1f1f;
$light-black: #2b2b2b;

$light-red: #ff7070;
$dark-red: #f76c6c;

$light-green: #a9d264;
$dark-green: #a4cb61;

//text-specific colors
$text-dark: #343434;
$text-light: #989898;

//===== GRADIENT MIXIN =====
@mixin gradient ($light-color, $dark-color) {
    background: linear-gradient( to right, $light-color 50%, $dark-color 50% );
}

//===== GRID MIXINS ===== 
@mixin grid-col ($min, $col-gap, $row-gap) {
display: grid;
grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
grid-column-gap: $col-gap;
grid-row-gap: $row-gap;
grid-auto-flow: row;
    
}

// ===== WRAPPER =====
%wrapper {
    display: grid;
    // grid-template-columns: minmax(10px, 100px) minmax(280px, 1200px) minmax(10px, 100px);
    grid-template-columns: 1fr 10fr 1fr;
}
// ===== FONT _______ =====
%h1-light {
    color: $light-white;
    font-weight: 300;
    line-height: 0.813;
}
%h1-dark {
    color: $text-dark;
    font-weight: 700;
    line-height: 0.688;
}

// ===== BUTTONS =====
%btn {
    padding: 0;
    width: 200px;
    height: 55px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.5;
    background: none;
    border: 3px solid $light-white;
    &:hover {
        transform: scale(1.1);
        border-color: $dark-red;
    }
    &--small {
    padding: 0;
    width: 170px;
    height: 55px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.5;
    background: none;
    border: 3px solid $light-white;
    &:hover {
        transform: scale(1.1);
        border-color: $dark-red;
    }
    }
    &--small-red {
    padding: 0;
    height: 55px;
    width: 70px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.5;
    background: none;
    border: 3px solid $light-red;
    color: $light-red;
    &:hover {
        transform: scale(1.1);
    }
    }
}


// ===== UNIVERSAL TEXT-BOX =====
%universal-text-box {
    max-width: 520px;
    margin: 100px auto 50px auto;
    text-align: center;
}





// $width:auto;
// @mixin clearfix($width) {

//    @if $width == 'auto' {

//     // if width is not passed, or empty do this

//    } @else {
//         display: inline-block;
//         width: $width;
//    }
// }